.main_container{
    height: 100vh;
    display: flex;
}

.selection_container{
    width: 62.5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray; /* Optional: Adds a dividing line */
    padding: 20px;
}

.selection_buttons{
    margin: 15px;

}

.search_bar_input{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    width: 95%;
    height: 40px;
}

.select_grid{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.select_item{
    background: white;
    padding: 15px;
    width: 28%;
    height: 250px;
    margin: 0 10px 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: none;
}

.item-row{
    display: flex;
    flex-direction: row;
}


.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    height: 180px;
}

.preview_container{
    margin-left: 15px;
}


/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.filter_btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
/* Add a light grey background on mouse-over */
.filter_btn:hover {
    background-color: #ddd;
}

/* Add a dark background to the active button */
.filter_btn.active {
    background-color: #666;
    color: white;
}
