.main_container{
    height: 85vh;
    display: flex;
}

.selection_container{
    width: 60%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray; /* Optional: Adds a dividing line */
    padding-right: 15px;
}

.selection_tabs{
    margin-top: 15px;
}

.search_bar_input{
    margin-top: 15px;
    width: 95%;
    height: 40px;
}

.select_grid{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.select_item{
    background: lightgray;
    padding: 15px;
    width: 250px;
    height: 250px;
    margin: 0 10px 10px 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.item-row{
    display: flex;
    flex-direction: row;
}


.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    height: 180px;
}

.preview_container{
    margin-left: 15px;
}
