.main_container{
    height: 100vh;
    display: flex;
}

.selection_container{
    width: 62.5%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray; /* Optional: Adds a dividing line */
    padding: 20px;
}

.selection_buttons{
    margin: 15px;

}

.selection_tabs{
    padding-left: 15px;
    
}

.selection_tabs button{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-top: 0.3em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border: solid 2px rgb(118, 115, 115);
    border-radius: 15px;
    background-color:  white;
    color: black;
    cursor: pointer;
}



.search_bar_input{
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    width: 95%;
    height: 40px;
}

.select_grid{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.select_item{
    background: white;
    padding: 15px;
    width: 28%;
    height: 250px;
    margin: 0 10px 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    display: none;
}

.item-row{
    display: flex;
    flex-direction: row;
}


.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img {
    height: 125px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.filter_btn {
    border: none;
    outline: none;
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin: 15px;
    background-color: #f1f1f1;
    cursor: pointer;
    background-color: #c2e8c4; 
    color: #025a05; 
    border-radius: 10%;
  }
  
/* Add a light grey background on mouse-over */
/* .filter_btn:hover {
    background-color: #ddd;
} */

/* Add a dark background to the active button */
.filter_btn.active {
    background-color: #666;
    color: white;
}

.preview_container{
    width: 40%;
    margin-left: 15px;
}

.preview-image-div{
    margin-left: calc(50% - 70px);
}

.preview-image-div img {
    margin-top: 50px;
    height: 300px;
    position: absolute;
    transform-origin: bottom;
}

#preview-vase img {
    position: absolute;
    margin-top: 15%;
    left: 67%;
    /* margin-left: 9.5%; */
    
    width: 380px;
}

.preview-buttons {
    display: flex;
    justify-content: center;
}

.preview-buttons button {
    display:flex;
    justify-content: center;
    border: none;
    border-radius: 15px;
    padding: 1.5em;
    transform: translateY(75vh);
}

#preview-buttons-cancel {
    background-color: rgb(218, 17, 17);
    color:#ffffff;
    margin-right: 25%;
    cursor: pointer;
}

#preview-buttons-cart {
    background-color: rgb(32, 203, 32);
    color:#ffffff;
    margin-left: 25%;
    cursor: pointer;
    
}


.quantity-input {
    display: flex;
    justify-content: center;
}

.quantity-value {
    border-radius: 5%;
    border: none;
}

.quantity-value:focus {
    border: none;
    border: 1px solid #777777;
}

.quantity-value::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.checkbox{
    visibility: hidden;
}
.quantity-button {
    border-width: thick;
    text-align: center;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.minus-button {
    border: 2px solid rgb(245, 76, 76);
}

.plus-button {
    border: 2px solid rgb(32, 203, 32);
}

button:disabled {
    background-color: #b6b6b6;
    border: none;
}

.info-button {
    float: right;
    border-radius: 5px;
    border: none;
    background-color: #eaeaea;
}

.quantity-button {
    border-width: thick;
    text-align: center;
    border-radius: 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.minus-button {
    border: 2px solid rgb(245, 76, 76);
}

.plus-button {
    border: 2px solid rgb(32, 203, 32);
}

button:disabled {
    background-color: #b6b6b6;
    border: none;
}

.info-button {
    float: right;
    border-radius: 5px;
    border: none;
    background-color: #eaeaea;
}

.main_container{
    padding-top: 80px;
}