.flower-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: min(100%, 750px);
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.flower-box img{
    width: max(200px, 50%);
    margin-right: 50px;
}

.flower-box-grid{
    display: grid;
    gap: 40px 40px;
    padding: 100px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.flower-box:hover {
    /* Optionally, you can add other hover styles here */
    background-color: #eff7ef; /* Example: change background color on hover */
    transform: scale(1.05); /* Example: slight zoom effect on hover */
    transition: transform 0.2s, background-color 0.2s; /* Smooth transition */
}

.flower-box.selected {
    background-color: #eff7ef; /* Keep the hover color when selected */
    transform: scale(1.05); /* Optional: keep the zoom effect */
}