.carousel{
    background: #A3D8B4;
    flex-direction: column;
}

.slide{
    display: none;
    flex-direction: row;
}
.TrendingSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featuredPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navItem{
    margin: 10px 
}

.slide img{
    width: 450px;
}