#header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.TrendingSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}
.featuredPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navItem{
    margin: 10px 
}

.popup-btn {
    float: right;
    margin: 0.2em;
}

#popup-image {
    float: left;
}

#popup-description {
    float: left;
    width:300px;
}

#popup-btn-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin:1em;
}